/* Body styles */
body {
    background-color: #cfeaf8;
    /* Soft blue */
    color: #333;
    /* Dark gray text */
    font-family: 'Arial', sans-serif;
}

/* Main container styles */
main {
    display: flex;
    flex-direction: row;
}

/* Content section styles */
.content {
    width: 65%;
    padding-left: 30px;
    padding-right: 20px;
}

/* Sidebar section styles */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px dotted black;
    height: 85vh;
}

/* Button styles */
button {
    width: 200px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    border: 1px solid brown;
    background: transparent;
    color: black;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(102, 19, 19, 0.1);
}